@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5 'tahoma', 'arial', '\5b8b\4f53';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul li {
  margin: 20px 0;
  color: #f00;
}
ul li a {
  position: relative;
  display: inline-block;
}
ul li a:hover {
  text-decoration: none;
}
ul li a span {
  position: absolute;
  top: 0;
  left: 0;
}
ul li a span:nth-child(1) {
  left: 0;
}
ul li a span:nth-child(2) {
  left: 12px;
}
ul li a span:nth-child(3) {
  left: 24px;
}
ul li a span:nth-child(4) {
  left: 36px;
}
ul li a span:nth-child(5) {
  left: 48px;
}
ul li a span:nth-child(6) {
  left: 60px;
}
ul li a span:nth-child(7) {
  left: 72px;
}
ul li a span:nth-child(8) {
  left: 84px;
}
ul li a span:nth-child(9) {
  left: 96px;
}
ul li a span:nth-child(10) {
  left: 108px;
}
